/* Estilos básicos de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    min-height: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,
h2{
    color: #444;
}
h3{
    color: #999;
}
.side-menu{
    position: absolute;
    background: #24b2dd;
    left: -250px;
    width: 250px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    display: block;
    height: auto;
    width: auto;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
.side-menu li:hover{
    padding-left: 50px;
    margin-right: 10px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
} 
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .side-menu{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
    /* Estilos del modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        width: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input, textarea, select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

.container{
    position: absolute;
    right: 0;
    width: 90vw;
    height: 100vh;
}
.container .header{
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 60%;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search button img{
    width: 30px;
    height: 30px;
}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Estilo para la imagen del perfil */
.container .header .nav .user img {
    width: 40px; /* Tamaño de la imagen */
    height: 40px; /* Tamaño de la imagen */
    border-radius: 50%; /* Imagen circular */
    cursor: pointer; /* Cambia el cursor al hacer hover */
}

/* Estilo para el contenedor de la imagen del perfil */
.container .header .nav .user .img-case {
    position: relative; /* Para que el menú se posicione respecto a este contenedor */
    width: 50px; /* Tamaño del contenedor */
    height: 50px; /* Tamaño del contenedor */
    cursor: pointer; /* Indicamos que es clickeable */
}

/* Estilo para la imagen dentro del contenedor */
.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    height: 100%; /* La imagen ocupa el 100% del contenedor */
    object-fit: cover; /* Hace que la imagen cubra todo el espacio sin deformarse */
}

.profile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 10000; /* Asegúrate de que tenga un z-index alto */
    border-radius: 5px;
    transition:.5s ease-in-out; 
}


/* Estilos de la lista dentro del menú de perfil */
.profile-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.profile-menu li {
    padding: 10px 20px;
}

.profile-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* Hover effect para los enlaces */
.profile-menu li a:hover {
    background-color: #f0f0f0;
}

/* Clase para mostrar el menú de perfil */
.profile-menu-visible {
    display: block; /* Mostramos el menú cuando se agrega esta clase */
}

/* Asegura que el contenedor del menú de perfil esté siempre por encima */
.container .header .nav {
    position: relative; /* Esto permite que el menú se posicione correctamente */
    z-index: 10; /* Asegura que el perfil también esté por encima de otros elementos */
}

.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: auto;
}
.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container .content .content-2 .recent-paymets{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .content .content-2 .new-students{
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.content-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.recent-payments, .new-students {
    width: 70%; /* Ajusta el ancho para que ambas secciones quepan */
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.tittle h2 {
    color: #444;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#chart-container {
    width: auto; /* 100% del contenedor principal */
    height: 500px; /* Ajusta el tamaño según lo necesites */
    position: relative; /* Asegura que el canvas se ajuste correctamente dentro */
}
canvas {
    display: block; /* Esto puede ayudar a asegurarse de que el canvas ocupe el espacio como se espera */
    width: 100%;
    height: 100%;
}

.activity-list-container {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones de filtro */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filter-button {
    padding: 10px 20px;
    background-color: #063146;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #0a5275;
}

/* Estilo de la lista */
.activity-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Elementos de la lista */
.activity-item {
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-left: 5px solid #063146;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.activity-item .date {
    font-size: 0.9em;
    color: #666;
}

.activity-item .description {
    font-size: 1.1em;
    color: #333;
    margin-top: 5px;
}

/* Colores de los estados */
.activity-item.past {
    background-color: #d1f7c4;
    border-left-color: green;
}

.activity-item.current {
    background-color: #fef6b8;
    border-left-color: yellow;
    animation: highlight 1s infinite alternate;
}

.activity-item.upcoming {
    background-color: #f0f4f8;
    border-left-color: #063146;
}

/* Animación para la actividad actual */
@keyframes highlight {
    0% {
        background-color: #fef6b8;
    }
    100% {
        background-color: #ffe580;
    }
}

/* Ajuste del side-menu para pantallas pequeñas */
@media (max-width: 768px) {
    .side-menu {
        width: 200px; /* Reduce el ancho en pantallas más pequeñas */
    }
    label #btn {
        left: 30px; /* Ajuste de posición del botón en móviles */
        top: 15px;
    }
    label #cancel {
        left: 175px; /* Ajuste de posición del botón de cancelación */
        display: none; /* Oculta el botón de cancelación cuando el menú está cerrado */
    }

    /* Cuando el checkbox está marcado, mostrar el botón de cancelación */
    #check:checked ~ label #cancel {
        display: block;
    }

    /* Ajusta el ancho del container para coincidir con el nuevo ancho del menú */
    .container {
        width: calc(100vw - 200px);
    }
}

@media (max-width: 480px) {
    .side-menu {
        width: 150px; /* Más estrecho aún para pantallas pequeñas */
    }
    label #btn {
        left: 20px;
    }
    label #cancel {
        left: 140px;
        display: none; /* Oculta el botón de cancelación cuando el menú está cerrado */
    }

    /* Cuando el checkbox está marcado, mostrar el botón de cancelación */
    #check:checked ~ label #cancel {
        display: block;
    }

    .container {
        width: calc(100vw - 150px);
    }
}

